.grid__header {
  display: flex;
  justify-content: center;
}

.grid__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid__content > div {
  margin: 1rem;
}

.grid__loader {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #33333321;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid__loader.hidden {
  display: none;
}

.popup {
  width: 300px;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #33333321;
}
