.preview,
.view {
  width: 300px;
}
.preview__image,
.view__image {
  width: 300px;
  height: 300px;
}
.preview__name,
.view__name {
  font-weight: bold;
}
.preview__name,
.preview__email,
.view__name,
.view__email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
