.modify-user-loader {
  width: 100vw;
  height: 100vh;
  background: #33333321;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modify-user__image-preview {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modify-user__image-preview img {
  max-width: 100%;
  max-height: 100%;
}

.modify-user__name,
.modify-user__date,
.modify-user__address,
.modify-user__email,
.modify-user__name > div,
.modify-user__date > div,
.modify-user__address > div,
.modify-user__email > div {
  width: 300px;
}

.modify-user__form,
.modify-user__form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.modify-user__form > div {
  margin: 0.4rem 0;
}

.modify-user__form {
  flex-direction: column;
}
